<ion-tabs>
    <ion-tab label="Contact" icon="contacts" href="/dashboard/tab2/(contact:contact)">
        <ion-router-outlet name="contact"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/dashboard/tab2/(about:about)">
        <ion-router-outlet name="about"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Home" icon="home" href="/dashboard/tab2/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
</ion-tabs>